/* CORE: VARS
   ============================= */

/* FONTS */
$font-size: 2.3vh;
$font-size-xs: 1.65vh;

/* COLORS */
$myp-navy-blue01: #2B3850;
$myp-navy-blue02: #606C80;
$myp-navy-blue03: #AEBAD2;
$myp-navy-blue04: #636b8b;
$myp-navy-blue05: #121722;

// $myp-wine:       #472D5A;
// $myp-wine-light: #7932AD;
//
// $myp-gray:       #989898;
// $myp-gray-dark:  #283339;
// $myp-gray-light: #E0E0E0;
//
// $myp-turquoise:  #11C8BB;
