/* COMPONENTS: MEDIA
   ============================= */

.media-view {
  @include absolute;
  background-color: $myp-navy-blue01;
  z-index: 1000;
  display: none;

  &.media-view--show {
    display: block;
  }

  .medias-panel__header {
    position: relative;
    padding: 0;

    .button {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .media-view__container {
    @include navy-blue-gradient02;
    height: 100%;
  }

  .media-view__img {
    @include bgcover;
    border-radius: 1vh;
    margin: 0 auto;
    height: 35vh;
    width: 35vh;
  }

  .media__tags {
    @include navy-blue-gradient02;
    padding: 1.3vh 2vh;
    display: block;
    top: 0;
  }

  .media-view__info {
    height: 100%;
  }

  .media__metadata {
    background-color: rgba(255,255,255,.85);
    letter-spacing: 1px;
    font-size: $font-size-xs;
    padding: 1.3vh 2vh;
    display: block;
    height: 36vh;
    resize: none;
    width: 100%;
  }
}

.media-item {
  font-size: $font-size-xs;
  margin: 0;

  &.fade-enter {
    -webkit-transition: 500ms;
    transition: 500ms;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  &.fade-enter-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  .media-item__img {
    @include bgcover;
    display: block;
    height: 20.5vh;
    cursor: pointer;

    &:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: 0;
    }
  }

  .media-item__date {
    text-align: center;
    padding: 0.35vh 0;
    display: block;
  }
}
