/* BUTTONS
   ============================= */
.button {
  @include navy-blue-gradient02;
  @include transition-delay(all .35s linear);
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  padding: 1vh 2vh;
  border: 1px solid transparent;
  cursor: pointer;
  color: $myp-navy-blue03;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


  &:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0;
  }

  &:disabled,
  &.button--disabled {
    cursor: default;
  }

  &:not(:disabled):not(.button--disabled) {
    cursor: pointer;
  }

  &.button--active, &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

a.button.button--disabled, fieldset:disabled a.button {
  pointer-events: none;
}
