.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .sidebar, .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .connection-issue {
    background-color: rgba(0,0,0,.85);
    border-radius: .25rem;
    font-size: .85rem;
    max-width: 235px;
    position: fixed;
    padding: 1rem;
    border: 1px solid;
    right: 1rem;
    color: #FFF;
    top: 1rem;
  }
}

.tags-sidebar {
  .tags-sidebar__header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tags-upload, .tags-search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .tags-upload__list {
    display: none;
  }
}

.tag-list {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  display: grid;
}

.tags-upload__container {
  padding: 0 1rem;
}

.tags-search {
  max-width: 350px;
}

.tags-search__form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border: 1px solid #000;

  .tags-search__loading {
    margin-left: 1rem;
  }

  form, input[type="search"] {
    border: none;
    width: 100%;
  }

  input[type="search"] {
    &:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: 0;
    }
  }
}

.tag-page {
  padding-left: 1rem;
}

.tag-page__header {
  background-color: #000;
  text-transform: uppercase;
  margin-bottom: .35rem;
  padding: 0.85rem;
  color: #FFF;
}

.tag-page__medias {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .35rem;
  display: grid;
}

.media-item {

  .media-item__bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  }

  .media-item__date {
    background-color: rgba(0,0,0, .75);
    font-size: .65rem;
    padding: .25rem;
    display: block;
    color: #FFF;
  }
}
